<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= @folder.name %></th>
  </tr>
  <tr>
    <th><%= @folder.updated_at %></th>
  </tr>
  <tr>
    <th><%= @folder.created_at %></th>
  </tr>
  <tr>
    <th><%= @user.email %></th>
  </tr>
</table>
<br>
<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>


