<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to t('doorkeeper.layouts.admin.nav.oauth2_provider'), oauth_applications_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item <%= "#{'active' if request.path == oauth_applications_path}" %> ">
          <a href="<%= oauth_applications_path %>" class="nav-link">
            <%= t('doorkeeper.layouts.admin.nav.applications')%>
          </a>
        </li>

        <li class="nav-item <%= "#{'active' if request.path == root_path}" %>">
          <a class="nav-link" href="<%= root_path %>">
            <%= t 'home' %>
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
      <% if user_signed_in? %>

          <span class="navbar-text">
            <%= "#{t('sign_as')} #{current_user.name}" %>
            <%= link_to(t('logout'), destroy_user_session_path, method: :delete) %>
            <%= image_tag current_user.image, html_options = {style: 'max-height:40px; border-radius: 25px;'} %>
          </span>
      <% else %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, html_options={class: 'btn btn-primary '} %>
      <% end %>


    </div>
  </div>
</nav>