<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= number_to_human_size @document.size %>
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>
<p>
  <%= link_to 'Download', @document.access_url %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
