<p>
  <strong> <%= t('name') %> </strong>
  <%= @document.name %>
</p>

<p>
  <strong> <%= t('size') %> </strong>
  <%= number_to_human_size @document.size %>
</p>

<p>
  <strong> <%= t('version') %> </strong>
  <%= @document.version %>
</p>
<p>
  <%= link_to 'Download', @document.access_url %>
</p>
<p>
  <%= link_to "Upload New Version", upgrade_document_path(@document) , html_options={class: 'btn btn-primary '} %>
</p>
<p>
  <%= link_to "Move to new Folder", edit_document_path(@document) , html_options={class: 'btn btn-primary '} %>
</p>
<p>
  <%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ' %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
