<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @document.size %> Bytes
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
